body {
    font-family: Arial;
}

#columns {
    display: flex;
    width: 100%;
}

#left_col {
    width: 60%;
}

#right_col {
    width: 40%;
}

.clicked {
    stroke-width: 5;
    stroke: gray;
}

.centered {
    text-align: center;
}

.tooltip {
    position: absolute;
    background-color: grey;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}